@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

$font-stack: 'Poppins', sans-serif;

// Colors
$color-accent-blue: #109cf1;
$color-hover-blue: #34aff9;
$color-red: #f7685b;
$color-green: #2ed47a;
$color-black: #192a3e;
$color-gray: #d3d8dd;
$color-gray-dark: #818e9b;
$color-white: #ffffff;
