@import 'variables', 'buttons', 'placeholders';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-stack;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: $color-background;
}

.heading {
  font-size: 2rem;
  margin-block-end: 3rem;
}

.generator {
  @extend %section;

  &__setting {
    @extend %flex-space-between;
  }

  &__number-input {
    padding: 0.7rem 1rem;
    border: 0;
    border-block-end: 1px solid $color-gray;
    font-size: 1rem;
    font-family: $font-stack;

    &:focus {
      outline: 0;
      border-block-end: 1px solid $color-gray-dark;
    }
  }

  &__checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid $color-background;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.2s;

    &::before {
      content: '\2714';
      display: block;
      position: absolute;
      color: $color-green;
      font-size: 1.5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:focus {
      outline: 0;
    }

    &:checked {
      border-color: $color-green;

      &::before {
        opacity: 1;
      }
    }
  }
}

.form {
  @extend %section;

  &__element {
    @extend %flex-space-between;
  }

  &__label {
    padding-inline-end: 2rem;
  }
  &__input {
    @extend %input-text;
  }
}

// .signup {
//   display: grid;
//   margin-block-start: 5rem;
//   gap: 5rem;

//   &__field {
//     position: relative;
//     display: flex;
//     border: 0;
//   }

//   &__label {
//     position: absolute;
//     color: $color-gray-dark;
//     font-size: 1.1rem;
//     bottom: 0.7rem;
//     left: 1rem;
//     transition: all 0.2s ease-in;
//     pointer-events: none;
//   }

//   &__input {
//     padding: 0.7rem 1rem;
//     border: 0;
//     border-block-end: 1px solid $color-gray;
//     font-size: 1.3rem;
//     width: 300px;

//     &--invalid {
//       border-block-end: 1px solid $color-red;
//     }

//     &--valid {
//       border-block-end: 1px solid $color-green;
//     }

//     &:focus {
//       outline: 0;
//       border-block-end: 1px solid $color-gray-dark;
//     }

//     &:focus + .signup__label {
//       bottom: 3rem;
//       color: $color-accent-blue;
//     }

//     &:not(:placeholder-shown):not(:focus) + .signup__label {
//       bottom: 3rem;
//       color: $color-gray-dark;
//     }
//   }

//   &__error {
//     position: absolute;
//     top: 3.2rem;
//     left: 1rem;
//     color: $color-red;
//     font-style: italic;
//     opacity: 0;
//     transition: opacity 0.2s ease-in;

//     &--active {
//       opacity: 1;
//     }
//   }
// }
